/*
 * 13383e
 * 2c5854
 * 8dc6c0
 * f1e2d3
 * fafbfb
 *
 */

body {
	background-color: #2c5854;
	color: #fafbfb;
}

h1 {
	color: #f1e2d3;
}

a {
	color: #8dc6c0;
	text-decoration: none;
}

a:hover {
	color: #fafbfb;
}

#main_box {
	background-color: #13383e;
	min-height: 600px;
	margin: auto;
	width: 800px;
	padding: 20px;
}
